@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.app {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.5;
  color: var(--clr-txt);
  background-color: var(--clr-bg);
}

.light {
  --clr-bg: #ffffff;
  --clr-bg-alt: #f6f4f4;

  --clr-txt: #000000ca;
  --clr-primary: #03467a;

  --clr-border: #919090;

  --clr-nav: #fefefe;

  --shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #202523;
  --clr-bg-alt: #1d2120;

  --clr-txt: #eeeeee;
  --clr-primary: #83c9ff;
  --clr-border: #eeeeee7c;
  --clr-nav: #272f2b;
  --shadow: rgba(0, 0, 0, 0.558) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2978b595;
}

::-webkit-scrollbar-thumb {
  background: #1d80cd;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03467a;
  border-radius: 12px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  z-index: 1;
  background-color: var(--clr-bg);
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 2rem !important;
  color: var(--clr-txt);
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: var(--clr-primary) !important;
}

.Typewriter__wrapper {
  font-size: 2em !important;
  color: var(--clr-primary) !important;
  font-weight: 600 !important;
  padding-left: 25px;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--clr-primary) !important;
}

@media (max-width: 991px) {
  .heading {
    font-size: 2.3em !important;
    padding-left: 0px !important;
    text-align: left !important;
  }

  .heading-name {
    font-size: 4em !important;
    padding-left: 0px !important;
    text-align: left !important;
  }
  .type {
    padding-left: 0px;
  }
  .Typewriter__wrapper {
    font-size: 1.3em !important;
    padding: 0px !important;
  }
  .Typewriter__cursor {
    font-size: 1.5em !important;
  }
}
@media (max-width: 767px) {
  .heading {
    font-size: 2.2em !important;
    padding-left: 20px !important;
    text-align: left !important;
  }

  .heading-name {
    font-size: 3em !important;
    padding-left: 20px !important;
    text-align: left !important;
  }
  .type {
    text-align: left !important;
  }
  .Typewriter__wrapper {
    text-align: center !important;
    font-size: 1.2em !important;
    font-weight: 400 !important;
    position: absolute;
  }

  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
  background-color: var(--clr-bg-alt);
}

.home-about-description {
  color: var(--clr-txt) !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center !important;
}

.home-about-body {
  padding: 50px;
  font-size: 1.2em !important;
  text-align: center;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: var(--clr-txt) !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: var(--clr-bg) !important;
  box-shadow: var(--shadow) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--clr-primary);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--clr-primary);
}

.home-social-icons:hover {
  color: var(--clr-primary);
  box-shadow: 0 0 5px var(--clr-primary);
  text-shadow: 0 0 2px var(--clr-primary);
}

.social-icons {
  display: inline-block !important;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--clr-primary);
}

.icon-colour {
  color: var(--clr-primary) !important;
}
/* ////////////////////////////// */
.about-section {
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
  background-color: var(--clr-bg) !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  color: var(--clr-primary);
  vertical-align: middle !important;
  text-align: center !important;
  background: transparent !important;
  box-shadow: var(--shadow) !important;
  border-radius: 5px !important;
  display: table !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}
.quote-card-view {
  background: transparent !important;
  border: none !important;
  box-shadow: var(--shadow);
}
.gitContainer {
  padding: 15px;
  background: transparent !important;
  box-shadow: var(--shadow);
  font-size: 30px !important;
  color: var(--clr-txt);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.08) !important;
  overflow: hidden !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
.primary-header {
  color: var(--clr-primary) !important;
  font-family: sans-serif;
  font-weight: bold;
}
.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}
.git {
  color: var(--clr-primary);
}

.about {
  /* padding: 0 10%; */
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.about-title {
  margin: 0;
}

.about-me {
  width: 100%;
  position: sticky;
  top: 15%;
}

.about-para {
  width: 90% !important;
  margin-bottom: 2rem;
}

.about-skills {
  padding: 0 0 0 7%;
  border-left: 0.2px solid rgba(136, 158, 168, 0.2);
  margin-left: 0%;
  margin-top: 10%;
}

.skills {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  color: rgb(0, 0, 0);
}

.skill img {
  width: 50px;
}

.skill-title {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.soft-skill {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-transform: lowercase;
  border-radius: 50px;
  margin: 0;
  font-family: "Orbit", sans-serif;
}

@media only screen and (min-width: 900px) and (max-width: 1440px) {
  .about-skills {
    padding: 0 0 0 5%;
    margin-top: 10%;
    border-left: 0.2px solid rgba(136, 158, 168, 0.2);
    margin-left: 0%;
    width: 100% !important;
  }

  .skills {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    color: rgb(0, 0, 0);
  }

  .skill img {
    width: 40px;
  }

  .skill-title {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .soft-skill {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-transform: lowercase;
    border-radius: 50px;
    margin: 0;
    font-family: "Orbit", sans-serif;
  }
}

/* for mobile and tablet devices */

@media only screen and (max-width: 900px) {
  .about {
    /* padding: 5%; */
    flex-direction: column;
    margin-bottom: 25%;
    margin-top: 40px;
  }

  .about-me {
    position: static;
  }

  .about-para {
    width: 100% !important;
  }

  .about-skills {
    padding: 0;
    border-left: 0;
    margin-top: 10%;
  }

  .skills {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    color: rgb(0, 0, 0);
  }

  .skill img {
    width: 35px;
  }

  .skill p {
    font-size: 0.75rem;
  }

  .skill-title {
    color: rgb(10, 10, 10);
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .soft-skill {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-transform: lowercase;
    border-radius: 50px;
    margin: 0;
    font-family: "Orbit", sans-serif;
  }
}
